---
import PartnerLogo from '@components/common/PartnerLogo.astro';

const allies = [
  {
    name: 'Fundación Gran Chaco',
    logo: '/icons/partners/fund.png',
    href: 'https://gran-chaco.org/es/home/',
  },
  {
    name: 'UTN - Universidad Tecnológica Nacional',
    logo: '/icons/partners/utn.png',
    href: 'https://www.utn.edu.ar',
  },
  {
    name: 'NerdConf',
    logo: '/icons/partners/nerdconf.png',
    href: 'https://nerdconf.com',
  },
  {
    name: 'LatinHack',
    logo: '/icons/partners/latinhack.png',
    href: 'https://latinhack.io/',
  },
];
---

<div class="relative z-10 w-full max-w-7xl mx-auto px-4 sm:px-6">
  <p
    class="text-white text-center text-base sm:text-lg md:text-xl font-montserrat font-bold mb-4 sm:mb-6 md:mb-8"
  >
    Powered By
  </p>

  <div
    class="flex flex-wrap items-center justify-center gap-4 sm:gap-6 md:gap-8 lg:gap-12 xl:gap-16"
  >
    {
      allies.map(ally => (
        <PartnerLogo src={ally.logo} alt={ally.name} href={ally.href} />
      ))
    }
  </div>
</div>
