---
import PartnerLogo from '@components/common/PartnerLogo.astro';
---

<div class="relative z-10 w-full max-w-7xl mx-auto px-6 pt-16 pb-8 md:px-12">
  <p class="text-white text-center text-xl font-montserrat font-bold mb-8">
    Powered By
  </p>

  <div
    class="flex flex-wrap items-center justify-center gap-8 md:gap-12 lg:gap-16"
  >
    <PartnerLogo src="/icons/partners/fund.png" alt="Fundación Gran Chaco" />
    <PartnerLogo
      src="/icons/partners/utn.png"
      alt="UTN - Universidad Tecnológica Nacional"
    />
    <PartnerLogo src="/icons/partners/nerdconf.png" alt="NerdConf" />
    <PartnerLogo src="/icons/partners/latinhack.png" alt="Latin Hack" />
  </div>
</div>
