---
import '../styles/index.css';
import LanguageSwitcher from '../components/LanguageSwitcher';
import { t } from 'astro-i18next';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icons/org/logo-base.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Key Protocol</title>
  </head>
  <body>
    <LanguageSwitcher client:load />
    <h1>{t('title')}</h1>
  </body>
</html>
