---
interface Props {
  lang?: string;
}

const { lang = 'es' } = Astro.props;
---

<a
  href={`/${lang}`}
  class="flex items-center gap-2 hover:opacity-80 transition-opacity"
>
  <img
    src="/icons/org/logo.png"
    alt="KEY Protocol Logo"
    class="h-8 w-8 object-contain"
    width="32"
    height="32"
  />
</a>
