---
import BaseLayout from '@layouts/BaseLayout.astro';
import type { Language } from '../../types/language.type';
import es from '@i18n/locales/es.json';
import en from '@i18n/locales/en.json';
import pt from '@i18n/locales/pt.json';

export const prerender = true;

export function getStaticPaths() {
  return [
    {
      params: { lang: 'es' },
    },
    {
      params: { lang: 'en' },
    },
    {
      params: { lang: 'pt' },
    },
  ];
}

const lang = Astro.params.lang as Language;
const translations = { es, en, pt };
const t = translations[lang];

import SummarySection from '@components/Model/SummarySection.astro';
import ManagementSection from '@components/Model/ManagementSection.astro';
---

<BaseLayout lang={lang} title="Model - Key Protocol" footer={t.footer}>
  <div class="mt-20">
    <div id="hero" class="h-1"></div>
    <SummarySection lang={lang} />
    <ManagementSection lang={lang} />
  </div>
</BaseLayout>
